<!doctype html>
<html ng-app="pepperMonitor">
<head>
  <title>Pepper Monitor</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Le Kang">
  <meta name="viewport" content="width=1280, user-scalable=no"/>

  <!-- build:css(app) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,app}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>

<body layout="column" ng-cloak ng-controller="AppController as monitor" class="animate-wrapper">
<!--[if lt IE 10]>
<p class="browsehappy">
  You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->
<md-content flex ng-if="!monitor.message.name" ng-class="{'no-animation': !monitor.message.animation}"></md-content>
<md-content flex ng-if="monitor.message.name" class="interactive" ng-class="{'no-animation': !monitor.message.animation}"
            layout="{{ monitor.message.layout }}" layout-align="center center">
  <div id="media" flex ng-if="monitor.message.media" ng-switch="monitor.message.media.type"
       layout="column" layout-align="center center">
    <img ng-switch-when="image" ng-src="/assets/images/{{ monitor.message.media.src }}"
         ng-class="{'full-screen': monitor.message.media.full && !monitor.message.dialog}">
    <img ng-switch-when="emoji" ng-src="/assets/animated-emoji/{{ monitor.message.media.src }}.gif"
         ng-class="{'full-screen': monitor.message.media.full && !monitor.message.dialog}">
    <img ng-switch-when="base64" ng-src="{{ monitor.message.media.src }}"
         ng-class="{'full-screen': monitor.message.media.full && !monitor.message.dialog}">
    <img ng-switch-when="camera" class="md-whiteframe-3dp"
         ng-src="http://198.18.0.1:8080/stream?topic={{ monitor.message.media.src }}"
         ng-class="{'full-screen': monitor.message.media.full && !monitor.message.dialog}">
  </div>
  <div id="dialog" ng-if="monitor.message.dialog" layout="column"
       layout-align="{{ monitor.message.media && monitor.layout == 'column' ? 'start' : 'center' }} center">
    <div class="dialog-text" flex ng-if="monitor.message.dialog.text" layout="column" layout-align="center center">
      <div dynamic-template monitor="monitor" layout="column" layout-align="center center"></div>
    </div>
    <div class="dialog-input" ng-if="monitor.message.dialog.input" layout="row">
      <input type="text" flex ng-model="monitor.inputValue">
      <md-button class="md-raised green"
                 ng-click="monitor.publish(monitor.message.name, monitor.inputValue)">Submit</md-button>
    </div>
    <div class="dialog-buttons" ng-if="monitor.message.dialog.buttons" layout="row" layout-wrap layout-align="center center">
      <md-button ng-repeat="button in monitor.message.dialog.buttons" class="md-raised {{ button.color }}"
                 ng-click="monitor.publish(monitor.message.name, button.value)">
        <span data-fittext data-fittext-min="20" data-fittext-max="50">{{  button.label }}</span>
      </md-button>
    </div>
  </div>
</md-content>

<!-- build:js(app) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,app}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:templates -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
